@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");

:root {
    --primary-color: #006e90;
    --secondary-color: #adcad6;
    --accent1-color: #f18f01;
    --accent2-color: #99c24d;

    --heading-font: "Contrail One", Arial, serif;
    --paragraph-font: Arial, sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-hover-background-color: var(--primary-color);
    --nav-link-color: var(--accent1-color);
    --nav-hover-link-color: var(--accent2-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--paragraph-font);
}

body {
    padding: 0 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

.bold {
    font-weight: bold;
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: center;
}

header,
main,
footer {
    max-width: 1210px;
    margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

.header-nav {
    font-size: 0;
    display: flex;
    justify-content: center;
}

.header-nav a {
    display: inline-block;
    padding: 10px 60px;
    border: 1px solid black;
    color: black;
    background: var(--secondary-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 16px;
}

.header-nav a:hover {
    color: var(--nav-link-color);
}

.hero,
main section {
    margin-top: 40px;
}

.hero {
    position: relative;
    overflow: hidden;
}

.hero-bg {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 60px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px;
}

.hero-content {
    position: absolute;
    top: 170px;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.5);
}

.hero-content::after {
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.hero-content-img {
    float: right;
    margin-left: 20px;
}

.history-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.adventure-content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 25px;
}

.adventure figure {
    max-width: 100%;
    display: grid;
    align-content: end;
}

.adventure figcaption {
    padding-top: 10px;
    text-align: center;
}

footer {
    margin-top: 40px;
    padding: 25px 0;
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;
    align-items: center;
    background-color: var(--accent2-color);
}

footer p {
    text-align: center;
    padding: 0 20px;
}

.sociallinks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.sociallinks a {
    text-decoration: none;
    display: inline-block;
    width: 50px;
}

.contact-info__content {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}

.contact-info__list {
    padding-left: 20px;
    font-size: 18px;
}

.contact-info__list li + li {
    margin-top: 20px;
}

.google-map-iframe {
    width: 100%;
}

.employees__content {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.employees__content figcaption {
    text-align: center;
}

.contact-form {
    margin-top: 20px;
    background: var(--secondary-color);
    padding: 40px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    row-gap: 20px;
    column-gap: 60px;
}

.contact-form .input-label {
    display: block;
    padding-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}

.contact-form input {
    display: block;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}

.contact-form textarea {
    padding: 10px;
    width: 100%;
    font-size: 18px;
}

.form-radio-group li + li {
    margin-top: 8px;
}

.contact-form .input-text {
    padding-left: 5px;
}

.contact-form input[type="radio"],
.contact-form input[type="checkbox"] {
    display: inline;
    width: auto;
}

.contact-form button {
    margin-top: 10px;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    background: var(--accent1-color);
    border: 1px solid black;
    font-size: 17px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.contact-form button:hover {
    box-shadow: 0 0 12px 2px rgba(33, 33, 33, 0.3);
}

.wireframe-link {
    color: black;
    font-weight: bold;
}

.action {
    min-height: 300px;
    background-image: url("../images/trips_action.jpg");
    padding: 0 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.action__content {
    display: inline-block;
    padding: 25px 40px;
    background: rgba(255, 255, 255, 0.6);
}

.action__text,
.action__button {
    margin-top: 30px;
}

.action__text {
    padding: 0 5px;
    font-weight: bold;
    font-size: 18px;
}

.booknow-button {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--heading-font);

    cursor: pointer;
    border: none;
    padding: 15px 35px;
    border-radius: 15px;
    background-color: var(--accent1-color);
    transition: all 0.3s ease;
    border: 1px solid black;
}

.booknow-button:hover {
    box-shadow: 0 0 12px 2px rgba(33, 33, 33, 0.3);
}

.trips__grid {
    margin-top: 15px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}

.trips__item {
    min-height: 100px;
    text-align: center;
}

.trip_img,
.trip__description {
    margin-top: 15px;
}

.trips-table__table {
    margin-top: 15px;
    width: 100%;
    border-collapse: collapse;
    border-width: 2px;
    border-style: solid;
}

.trips-table__table td,
.trips-table__table th {
    border-width: 2px;
    border-style: solid;
    padding: 15px;
}

.trips-table__table td:first-child,
.trips-table__table th:first-child {
    width: 30%;
    text-align: center;
}

.trips-main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
}

.action {
    grid-column: 1 / 5;
}

.trips {
    grid-column: 1;
    margin-top: 0;
}

.trips-table {
    grid-column: 2 / 5;
    margin-top: 0;
}

.home-hero {
    height: 300px;
    overflow: hidden;
    grid-column: 1 / 5;
    position: relative;
}

.home-hero__h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding: 25px 0 20px;
}

.home-hero__img {
    width: 100%;
    margin-top: -8%;
}

.home-main {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr 3fr;
    gap: 50px;
}

.subscribe-form {
    margin-top: 0;
    grid-column: 1;
    grid-row: 2 / 4;
    background: var(--secondary-color);
    padding: 40px 15px;
}

.subscribe-form__heading {
    color: black;
}

.subscribe-form__input {
    width: 100%;
    font-size: 18px;
    padding: 12px 8px;
    display: block;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
}

.subscribe-form__form label {
    display: block;
    margin-top: 25px;
}

.subscribe-form__form .subscribe-form__submit-label {
    text-align: center;
    margin-top: 35px;
}

.subscribe-form__label {
    display: block;
}

.button {
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
    border: none;
    padding: 15px 35px;
    border-radius: 15px;
    background-color: var(--accent1-color);
    transition: all 0.3s ease;
    border: 1px solid black;
}

.button:hover {
    box-shadow: 0 0 12px 2px rgba(33, 33, 33, 0.3);
}

.action-trips {
    grid-column: 1;
    margin-top: 0;
    padding: 25px 10px;
    background: #ededed;
}

.action-trips__content {
    margin-top: 20px;
    text-align: center;
}

.purpose,
.offerings {
    margin-top: 0;
    grid-column: 2 / 5;
    grid-row: auto;
}

.purpose {
    grid-row: 2;
}

.offerings {
    grid-row: 3 / auto;
}

.purpose__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40px;
}

.offerings__content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 40px;
}

.purpose__text,
.offerings__text {
    font-size: 18px;
    line-height: 160%;
}
